<!--
@param restaurant: restaurant object
-->
<html>
    {% include 'header.html' %}
    <body>
        {% include 'nav.html' %}
        <div class="container">
            <h1>Delete Restaurant: {{ restaurant.name }}</h1>
            <div class="center">
                <div class="button row">
                    <form action="{{ url_for('deleteRestaurant', rest_id=restaurant.id) }}" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </div>
                <div class="button row">
                    <form action="{{ url_for('showRestaurants') }}">
                        <button type="submit">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
