<!--
@param restaurant: restaurant object
@param items: list of menu item objects
-->
<html>
    {% include 'header.html' %}
    <body>
        {% include 'nav.html' %}
        <div class="container">
            <h1>{{restaurant.name}} menu</h1>
            {% include 'flashes.html' %}
            <div class="button center">
                <form action="{{ url_for('newMenuItem', rest_id=restaurant.id) }}">
                    <button type="submit">Create New Item</button>
                </form>
            </div>
            {% for i in items %}
            <div>
                <div class="center">
                    <h3>{{i.name}}</h3>
                    <p>{{i.description}}</p><br>
                    <span class='price'><p>${{i.price}}</p></span><br>
                    <p>{{i.course}}</p>
                </div>
                {% if i.picture != None %}
                <div class='food_pic'>
                    <figure>
                        <img src='{{i.picture}}'>
                        <figcaption>{{i.name}}</figcaption>
                    </figure>
                </div>
                {% endif %}
                <div class="center">
                    <div class="button row">
                        <form action="{{ url_for('editMenuItem', rest_id=restaurant.id, menu_id=i.id) }}" method="GET">
                            <button type="submit">Edit</button>
                        </form>
                    </div>
                    <div class="button row">
                        <form action="{{ url_for('deleteMenuItem', rest_id=restaurant.id, menu_id=i.id) }}" method="GET">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
