<!--
@param restaurant: restaurant object
@param items: list of menu item objects
-->
<html>
    {% include 'header.html' %}
    <body>
        {% include 'nav.html' %}
        <div class="container">
            <h1>{{restaurant.name}} menu</h1>
            {% include 'flashes.html' %}
            <div class="button center">
                <form action="{{ url_for('newMenuItem', rest_id=restaurant.id) }}" method="GET">
                    <button type="submit">New menu item</button>
                </form>
            </div>
            <div id='menu' class='center'>
                <div id='appetizer'>
                    <h2>Appetizers</h2>
                {% for i in items %}
                {% if i.course == 'Appetizer' %}
                    <div class='menu_item'>
                        <h3>{{i.name}}</h3>
                        {% if i.picture != None %}
                        <div class='food_pic_small'>
                            <figure>
                                <img src='{{i.picture}}'>
                            </figure>
                        </div>
                        {% endif %}
                        <p>{{i.description}}</p><br>
                        <span class='price'><p>${{i.price}}</p></span><br>
                        <div>
                            <div class="button row">
                                <form action="{{ url_for('editMenuItem', rest_id=restaurant.id, menu_id=i.id) }}" method="GET">
                                    <button type="submit">Edit</button>
                                </form>
                            </div>
                            <div class="button row">
                                <form action="{{ url_for('deleteMenuItem', rest_id=restaurant.id, menu_id=i.id) }}" method="GET">
                                    <button type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <div id='entree'>
                    <h2>Entrees</h2>
                {% for i in items %}
                {% if i.course == 'Entree' %}
                    <div class='menu_item'>
                        <h3>{{i.name}}</h3>
                        {% if i.picture != None %}
                        <div class='food_pic_small'>
                            <figure>
                                <img src='{{i.picture}}'>
                            </figure>
                        </div>
                        {% endif %}
                        <p>{{i.description}}</p><br>
                        <span class='price'><p>${{i.price}}</p></span><br>
                        <div>
                            <div class="button row">
                                <form action="{{ url_for('editMenuItem', rest_id=restaurant.id, menu_id=i.id) }}" method="GET">
                                    <button type="submit">Edit</button>
                                </form>
                            </div>
                            <div class="button row">
                                <form action="{{ url_for('deleteMenuItem', rest_id=restaurant.id, menu_id=i.id) }}" method="GET">
                                    <button type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                        {% if i.picture != None %}
                        {% endif %}
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <div id='dessert'>
                    <h2>Desserts</h2>
                {% for i in items %}
                {% if i.course == 'Dessert' %}
                    <div class='menu_item'>
                        <h3>{{i.name}}</h3>
                        {% if i.picture != None %}
                        <div class='food_pic_small'>
                            <figure>
                                <img src='{{i.picture}}'>
                            </figure>
                        </div>
                        {% endif %}
                        <p>{{i.description}}</p><br>
                        <span class='price'><p>${{i.price}}</p></span><br>
                        <div>
                            <div class="button row">
                                <form action="{{ url_for('editMenuItem', rest_id=restaurant.id, menu_id=i.id) }}" method="GET">
                                    <button type="submit">Edit</button>
                                </form>
                            </div>
                            <div class="button row">
                                <form action="{{ url_for('deleteMenuItem', rest_id=restaurant.id, menu_id=i.id) }}" method="GET">
                                    <button type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                        {% if i.picture != None %}
                        {% endif %}
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <div id='beverege'>
                    <h2>Bevereges</h2>
                {% for i in items %}
                {% if i.course == 'Beverege' %}
                    <div class='menu_item'>
                        <h3>{{i.name}}</h3>
                        {% if i.picture != None %}
                        <div class='food_pic_small'>
                            <figure>
                                <img src='{{i.picture}}'>
                            </figure>
                        </div>
                        {% endif %}
                        <p>{{i.description}}</p><br>
                        <span class='price'><p>${{i.price}}</p></span><br>
                        <div>
                            <div class="button row">
                                <form action="{{ url_for('editMenuItem', rest_id=restaurant.id, menu_id=i.id) }}" method="GET">
                                    <button type="submit">Edit</button>
                                </form>
                            </div>
                            <div class="button row">
                                <form action="{{ url_for('deleteMenuItem', rest_id=restaurant.id, menu_id=i.id) }}" method="GET">
                                    <button type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
