<!--
@param restaurant: randomly chosen restaurant
-->
<html>
    {% include 'header.html' %}
    <body>
        {% include 'nav.html' %}
        <div class="container">
            <h1>BOOM Here's Your Random Restaurant</h1>
            <div class='center'>
                <div class='random_choice center'>
                    <a href="{{ url_for('showMenu', rest_id=restaurant.id) }}">{{ restaurant.name }}</a>
                </div>
            </div>
            <div class="center">
                <div class="button row">
                    <form action="{{ url_for('randomRestaurant') }}" method="POST">
                        <button type="submit">Try again</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>



