<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
        <link href='/static/styles.css' rel='stylesheet'>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='random-choice.js') }}"></script>
    </head>
    <body>
        {% include 'nav.html' %}
        <div class="container">
            <h1>Random Restaurant</h1>
            <div class="center">
                <div class="button row">
                    <button id="rand_restaurant">I'm feeling hungry</button>
                </div>
                <div id="random_choice" class="center"></div>
            </div>
        </div>
    </body>
</html>

