body {
    font-family: Monda;
}

h1 {
    text-align: center;
}

h1:before {
    content: '<';
    margin-right: 5px;
}

h1:after {
    content: '>';
    margin-left: 5px;
}

.container {
    margin: auto;
    width: 500px;
}

.form {
    text-align: center;
}

.button button {
    font-family: Monda;
    font-size: 14px;
    border-radius: 5px;
    border-color: #778899;
    border-width: 1px;
    border-style: solid;
    background-color: #DDEEFF;
    margin: 20px 5px;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.nav li {
    display: inline;
    border-style: none;
}

.nav p {
    display: inline-block;
}

.nav a {
    text-decoration: none;
}

ul.rest_sub_nav {
    display: inline;
    list-style: none;
    padding: 0;
}

ul.container {
    list-style: none;
    text-align: center;
    padding: 0;
}

.container li {
    display: block;
    border-radius: 5px;
    border-color: #778899;
    border-width: 1px;
    border-style: solid;
    background-color: #AABBCC;
    margin-top: 10px;
}

.container p {
    display: inline-block;
}

.container a {
    display: inline-block;
    text-align: center;
    margin: 10px 0px;
    text-decoration: none;
}

.rest_sub_nav li {
    display: inline;
    border-style: none;
}

.fields p {
    clear: both;
    float: left;
    margin: 5px 5px;
}

.fields input {
    float: left;
    margin: 5px 5px;
}

.radio input {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}

.radio p {
    float: left;
    display: inline-block;
    margin: 5px 5px;
}

.radio button {
    clear: both;
    float: left;
}

.cancel button {
    float: left;
}

.center {
    clear: both;
    text-align: center;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.row {
    display: inline-block;
}
