body {
    font-family: Monda;
}

h1 {
    text-align: center;
}

h1:before {
    content: '<';
    margin-right: 5px;
}

h1:after {
    content: '>';
    margin-left: 5px;
}

.form {
    text-align: center;
}

.button button {
    font-family: Monda;
    font-size: 14px;
    border-radius: 5px;
    border-color: #778899;
    border-width: 1px;
    border-style: solid;
    background-color: #DDEEFF;
    margin: 20px 5px;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.nav li {
    display: inline;
    border-style: none;
}

.nav p {
    display: inline-block;
}

.nav a {
    text-decoration: none;
}

ul.rest_sub_nav {
    display: inline;
    list-style: none;
    padding: 0;
}

.container {
    margin: auto;
    width: 1000px;
}

ul.container {
    list-style: none;
    text-align: center;
    padding: 0;
}

.container li, .random_choice {
    display: block;
    border-radius: 5px;
    border-color: #778899;
    border-width: 1px;
    border-style: solid;
    background-color: #AABBCC;
    margin-top: 10px;
}

div.random_choice {
    width: 400px;
}

.container p {
    display: inline-block;
}

.container a {
    display: inline-block;
    text-align: center;
    margin: 10px 0px;
    text-decoration: none;
}

.container button {
    text-align: center;
}

.rest_sub_nav li {
    display: inline;
    border-style: none;
}

.fields p {
    clear: both;
    float: left;
    margin: 5px 5px;
}

.fields input {
    float: left;
    margin: 5px 5px;
}

.radio input {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}

.radio p {
    float: left;
    display: inline-block;
    margin: 5px 5px;
}

.radio button {
    clear: both;
    float: left;
}

.cancel button {
    float: left;
}

.center {
    clear: both;
    margin: auto;
    text-align: center;
}

#signinButton {
    margin-bottom: 20px;
}

#appetizer {
    clear: both;
    float: left;
    width: 200px;
}

#appetizer h2 {
    text-align: left;
}

#entree {
    float: left;
    width: 200px;
    margin-left: 50px;
}

#entree h2 {
    text-align: left;
}

#dessert {
    float: left;
    width: 200px;
    margin-left: 50px;
}

#dessert h2 {
    text-align: left;
}

#beverege {
    float: left;
    width: 200px;
    margin-left: 50px;
}

#beverege h2 {
    text-align: left;
    margin-bottom: 100px;
}

.menu_item {
    text-align: left;
}

#menu h2 {
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    margin-bottom: 40px;
}

.price {
    text-align: right;
    display: block;
}

.forms {
    margin-left: 350px;
}

.thin {
    width: 400px;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.row {
    display: inline-block;
}

.flashes ul {
    margin: 0px;
    padding: 0px;
}

.flashes li {
    font-size: 14px;
    border-radius: 0px;
    border-color: #778899;
    border-width: 1px;
    border-style: solid;
    background-color: yellow;
    margin: 20px 5px;
    text-align: center;
}

div.flashes {
    width: 400px;
    margin: auto;
}

div.creator {
    text-align: center;
    margin: auto;
}

.creator img {
    width: 200px;
}
