body {
}

h1 {
    text-align: center;
}

h1:before {
    content: '<';
    margin-right: 5px;
}

h1:after {
    content: '>';
    margin-left: 5px;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.nav li {
    display: inline;
    border-style: none;
}

.nav p {
    display: inline-block;
}

.nav a {
    text-decoration: none;
}

.container {
    margin: auto;
    width: 1000px;
}

ul.container {
    list-style: none;
    text-align: center;
    padding: 0;
}

.cell {
    float: left;
    width: 5px;
    height: 5px;
    border-style: solid;
    border-width: 1px;
}

.leftCell {
    clear: both;
}

.blackCell {
    background: black;
}

.whiteCell {
    background: white;
}

#array {
    padding: 0 150px;
}

