<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
        <link href='/static/styles.css' rel='stylesheet'>
    </head>
    <body>
        <nav class="nav">
            <ul>
                <li><a href="{{ url_for('randomRestaurant') }}">Home</a></li>
                <p>|</p>
                <li><a href="{{ url_for('showRestaurants') }}">Restaurants</a></li>
                <p>|</p>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
        <div class="container">
            <h1>About This App</h1>
            <div class="center">
                <p>Created by Paul-Jean</p><br>
                <p>Browse the <a href="https://github.com/paul-jean/random-restaurant">source</a></p>
            </div>
        </div>
    </body>
</html>


