<!--
@param restaurant: restaurant object
@param item: menu item object
-->
<head>
    <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
    <link href='/static/styles.css' rel='stylesheet'>
</head>
<html>
    <body>
        <nav class="nav">
            <ul>
                <li><a href="{{ url_for('randomRestaurant') }}">Home</a></li>
                <p>|</p>
                <li><a href="{{ url_for('showRestaurants') }}">Restaurants</a></li>
                <p>|</p>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
        <h1>Delete item: {{item.name}}</h1>
        <div class="center">
            <div class="button row">
                <form action="{{ url_for('deleteMenuItem', rest_id=restaurant.id, menu_id=item.id) }}" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </div>
            <div class="button row">
                <form action="{{ url_for('showMenu', rest_id=restaurant.id) }}">
                    <button type="submit">Cancel</button>
                </form>
            </div>
        </div>
    </body>
</html>
