<!--
@param restaurant: restaurant object
-->
<head>
    <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
    <link href='/static/styles.css' rel='stylesheet'>
</head>
<html>
    <body>
        <nav class="nav">
            <ul>
                <li><a href="{{ url_for('randomRestaurant') }}">Home</a></li>
                <p>|</p>
                <li><a href="{{ url_for('showRestaurants') }}">Restaurants</a></li>
                <p>|</p>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
        <div class="container">
            <h1>Edit Restaurant: {{ restaurant.name }}</h1>
            <div class="center">
                <form action="{{ url_for('editRestaurant', rest_id=restaurant.id) }}" method='POST'>
                    <div class="button">
                        <p>Name:</p>
                        <input type='text' size='30' name='name' placeholder='{{ restaurant.name }}'>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="button center">
                <form action="{{ url_for('showRestaurants') }}">
                    <button type="submit">Cancel</button>
                </form>
            </div>
        </div>
    </body>
</html>
