<!--
@param restaurant: restaurant object
@param item: menu item object
-->
<head>
    <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
    <link href='/static/styles.css' rel='stylesheet'>
</head>
<html>
    <body>
        <nav class="nav">
            <ul>
                <li><a href="{{ url_for('randomRestaurant') }}">Home</a></li>
                <p>|</p>
                <li><a href="{{ url_for('showRestaurants') }}">Restaurants</a></li>
                <p>|</p>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
        <div class="container">
            <h1>Edit Menu Item: {{ item.name }}</h1>
            <div class="center">
                <form action="{{ url_for('newMenuItem', rest_id=restaurant.id) }}" method="POST">
                    <div class="fields">
                        <p>Item name:</p>
                        <input type="text" size="30" name="name" placeholder="{{ item.name }}">
                        <p>Description:</p>
                        <input type="text" size="30" name="description" placeholder="{{ item.description }}">
                        <p>Price:</p>
                        <input type="text" size="30" name="price" placeholder="{{ item.price }}">
                        <p>Course:</p>
                    </div>
                    <div class="radio">
                        <div>
                            <input value="Entree" type="radio" name="course" checked style="clear:both; float:left">
                            <p>Entree</p>
                        </div>
                        <div>
                            <input value="Appetizer" type="radio" name="course" style="clear:both; float:left">
                            <p>Appetizer</p>
                        </div>
                        <div>
                            <input value="Beverage" type="radio" name="course" style="clear:both; float:left">
                            <p>Beverage</p>
                        </div>
                        <div>
                            <input value="Dessert" type="radio" name="course" style="clear:both; float:left">
                            <p>Dessert</p>
                        </div>
                        <div class="button">
                            <button type="submit" >Submit</button>
                        </div>
                    </div>
                </form>
                <div class="button cancel">
                    <form action="{{ url_for('showMenu', rest_id=restaurant.id) }}">
                        <button type="submit">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
