<!--
@param restaurant: restaurant object
@param items: list of menu item objects
-->
<html>
    {% include 'header.html' %}
    <body>
        {% include 'nav.html' %}
        <div class="container">
            <h1>{{restaurant.name}} menu</h1>
            <div class='creator'>
                <figure>
                    <img src='{{creator.picture}}'>
                    <figcaption>Created by: {{creator.name}}</figcaption>
                </figure>
            </div>
            <div class='flashes'>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <div id='menu' class='center'>
                <div id='appetizer'>
                    <h2>Appetizers</h2>
                {% for i in items %}
                {% if i.course == 'Appetizer' %}
                    <div class='menu_item'>
                        <h3>{{i.name}}</h3>
                        <p>{{i.description}}</p><br>
                        <span class='price'><p>${{i.price}}</p></span><br>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <div id='entree'>
                    <h2>Entrees</h2>
                {% for i in items %}
                {% if i.course == 'Entree' %}
                    <div class='menu_item'>
                        <h3>{{i.name}}</h3>
                        <p>{{i.description}}</p><br>
                        <span class='price'><p>${{i.price}}</p></span><br>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <div id='dessert'>
                    <h2>Desserts</h2>
                {% for i in items %}
                {% if i.course == 'Dessert' %}
                    <div class='menu_item'>
                        <h3>{{i.name}}</h3>
                        <p>{{i.description}}</p><br>
                        <span class='price'><p>${{i.price}}</p></span><br>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <div id='beverege'>
                    <h2>Bevereges</h2>
                {% for i in items %}
                {% if i.course == 'Beverege' %}
                    <div class='menu_item'>
                        <h3>{{i.name}}</h3>
                        <p>{{i.description}}</p><br>
                        <span class='price'><p>${{i.price}}</p></span><br>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
