<!--
@param restaurant: restaurant object
-->
<html>
    <body>
        <h1>New Menu Item</h1>
        <div>
            <form action="{{ url_for('newMenuItem', rest_id=restaurant.id) }}" method="POST">
                <p>Item name:</p>
                <input type="text" size="30" name="name" placeholder="licorice cookie">
                <p>Description:</p>
                <input type="text" size="30" name="description" placeholder="yummy chewy munchy crunchy">
                <p>Price:</p>
                <input type="text" size="30" name="price" placeholder="3.99">
                <p>Course:</p>
                <div>
                    <div>
                        <input value="Entree" type="radio" name="course" checked style="clear:both; float:left">
                        <p style="float:left; margin:0px 5px">Entree</p>
                    </div>
                    <div>
                        <input value="Appetizer" type="radio" name="course" style="clear:both; float:left">
                        <p style="float:left; margin:0px 5px">Appetizer</p>
                    </div>
                    <div>
                        <input value="Beverage" type="radio" name="course" style="clear:both; float:left">
                        <p style="float:left; margin:0px 5px">Beverage</p>
                    </div>
                    <div>
                        <input value="Dessert" type="radio" name="course" style="clear:both; float:left">
                        <p style="float:left; margin:0px 5px">Dessert</p>
                    </div>
                </div>
                <input type="submit" value="Add item" style="clear:both; float:left">
            </form>
            <a href="{{ url_for('showMenu', rest_id=restaurant.id) }}" style="clear:both; float:left">Cancel</a>
        </div>
    </body>
</html>
