<!--
@param restaurants: list of restaurant objects
-->
<head>
    <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
    <link href='/static/styles.css' rel='stylesheet'>
</head>
<html>
    <nav class="nav">
        <ul>
            <li>Home</li>
            <p>|</p>
            <li><a href="{{ url_for('showRestaurants') }}">Restaurants</a></li>
            <p>|</p>
            <li>About</li>
        </ul>
    </nav>
    <body>
        <div class="container form">
            <h1>New Restaurant</h1>
            <div class='button'>
                <form action="{{ url_for('newRestaurant')}}" method='POST'>
                    <p>Name:</p>
                    <input type='text' size='30' name='name' placeholder='Yongs Yummies'>
                    <button type='submit'>Submit</button>
                </form>
            </div>
            <div class="button centered">
                <form action="{{ url_for('showRestaurants') }}">
                    <button type="submit">Cancel</button>
                </form>
            </div>
        </div>
    </body>
</html>

