<!--
@param restaurant: randomly chosen restaurant
-->
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
        <link href='/static/styles.css' rel='stylesheet'>
    </head>
    <body>
        <nav class="nav">
            <ul>
                <li><a href="{{ url_for('randomRestaurant') }}">Home</a></li>
                <p>|</p>
                <li><a href="{{ url_for('showRestaurants') }}">Restaurants</a></li>
                <p>|</p>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
        <div class="container">
            <h1>BOOM Here's Your Random Restaurant</h1>
            <div class='center'>
                <a href="{{ url_for('showMenu', rest_id=restaurant.id) }}">{{ restaurant.name }}</a>
            </div>
            <div class="center">
                <div class="button row">
                    <form action="{{ url_for('randomRestaurant') }}" method="POST">
                        <button type="submit">Try again</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>



