<!--
@param restaurants: list of restaurant objects
-->
<html>
    {% include 'header.html' %}
    <body>
        {% include 'nav.html' %}
        <div class="container">
            <h1>Restaurants</h1>
            <div class='flashes'>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <div>
                <ul class='container thin'>
                    {% for r in restaurants %}
                    <li>
                        <a href="{{ url_for('showMenu', rest_id=r.id) }}">{{ r.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </div>
    </body>
</html>


