<!--
@param restaurants: list of restaurant objects
-->
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
        <link href='/static/styles.css' rel='stylesheet'>
    </head>
    <body>
        <nav class="nav">
            <ul>
                <li><a href="{{ url_for('randomRestaurant') }}">Home</a></li>
                <p>|</p>
                <li><a href="{{ url_for('showRestaurants') }}">Restaurants</a></li>
                <p>|</p>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
        <div class="container">
            <h1>Restaurants</h1>
            <div class='button center'>
                <form action="{{ url_for('newRestaurant') }}">
                    <button type='submit'>Add new restaurant</button>
                </form>
            </div>
            <div>
                <ul class='container'>
                    {% for r in restaurants %}
                    <li>
                        <a href="{{ url_for('showMenu', rest_id=r.id) }}">{{ r.name }}</a>
                        <br>
                        <ul class='rest_sub_nav'>
                            <li>
                                <a href="{{ url_for('editRestaurant', rest_id=r.id) }}">Edit</a>
                            </li>
                            <p>|</p>
                            <li>
                                <a href="{{ url_for('deleteRestaurant', rest_id=r.id) }}">Delete</a>
                            </li>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </div>
    </body>
</html>


