<!--
@param restaurants: list of restaurant objects
-->
<head>
    <link rel='stylesheet' href='/static/styles.css'/>
</head>
<html>
    <body>
        <h1>Restaurants</h1>
        <ul>
            {% for r in restaurants %}
            <li><a href="{{ url_for('showMenu', rest_id=r.id) }}">{{ r.name }}</a>
                <a href="{{ url_for('editRestaurant', rest_id=r.id) }}">Edit</a>
                <a href="{{ url_for('deleteRestaurant', rest_id=r.id) }}">Delete</a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>


