<!--
@param restaurants: list of restaurant objects
-->
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
        <link href='/static/styles.css' rel='stylesheet'>
    </head>
    <body>
        <nav class="nav">
            <ul>
                <li><a href="{{ url_for('randomRestaurant') }}">Home</a></li>
                <p>|</p>
                <li><a href="{{ url_for('showRestaurants') }}">Restaurants</a></li>
                <p>|</p>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <p>|</p>
                <li><a href="{{ url_for('showLogin') }}">Log in</a></li>
            </ul>
        </nav>
        <div class="container">
            <h1>Restaurants</h1>
            <div class='flashes'>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <div>
                <ul class='container thin'>
                    {% for r in restaurants %}
                    <li>
                        <a href="{{ url_for('showMenu', rest_id=r.id) }}">{{ r.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </div>
    </body>
</html>


