<!--
@param restaurants: list of restaurant objects
-->
<html>
    {% include 'header.html' %}
    <body>
        {% include 'nav.html' %}
        <div class="container">
            <h1>Restaurants</h1>
            <div class='flashes'>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <div class='button center'>
                <form action="{{ url_for('newRestaurant') }}">
                    <button type='submit'>Add new restaurant</button>
                </form>
            </div>
            <div>
                <ul class='container thin'>
                    {% for r in restaurants %}
                    <li>
                        <a href="{{ url_for('showMenu', rest_id=r.id) }}">{{ r.name }}</a>
                        <br>
                        <ul class='rest_sub_nav'>
                            <li>
                                <a href="{{ url_for('editRestaurant', rest_id=r.id) }}">Edit</a>
                            </li>
                            <p>|</p>
                            <li>
                                <a href="{{ url_for('deleteRestaurant', rest_id=r.id) }}">Delete</a>
                            </li>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </div>
    </body>
</html>


